<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Titre</td>
        </tr>
    </thead>
    <tbody>
    <% @tracks.each do |track| %>
        <tr>
            <td><%= track.id %></td>
            <td><%= track.title %></td>
        </tr>
    <% end %>
    </tbody>
</table>