<!-- rails g controller tracks : dossier créé -->
<!-- rails g controller tracks index : dossier + page d'index créé -->
<!-- app/views/tracks/index.html.erb -->
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Titre</td>
        </tr>
    </thead>
    <tbody>
    <% @tracks.each do |track| %>
        <tr>
            <td><%= track.id %></td>
            <td><%= track.title %></td>
        </tr>
    <% end %>
    </tbody>
</table>